<div class="row">
	<div class="col-sm-12 col-lg-12">
		<%= form_for [@link, Comment.new], :remote => true do |f| %>
		  <div class="field">
		    <%= f.text_area :body, class: "form-control col-lg-8 col-sm-12", placeholder: "Provide comment here." %>
		    <%= f.hidden_field :link_id, :value => @link.id %>
		    <%= f.hidden_field :user_id, :value => current_user.id %>
		  </div>
		  <div class="buttons-area col-lg-8 col-sm-12">
		  	<div class="d-flex flex-row justify-content-end">
		    	<%= f.submit "Share", :class => "btn btn-success" %>
		    </div>
		  </div>
		<% end %>
	</div>
</div>