%header 
  %nav{:class => "navbar navbar-light navbar-toggleable-md bg-faded", :style => "background-color: #e3f2fd;"}
    %button{:class => "navbar-toggler navbar-toggler-right", :type => "button", "data-toggle" => "collapse", 
            "data-target" =>"#navbarText", "aria-controls" => "navbarText",
            "aria-expanded" => "false", "aria-label" => "Toggle navigation"}
      %span{:class => "navbar-toggler-icon"}
    = link_to 'Reddit', root_path, :class => "navbar-brand"
    %div{:class => "collapse navbar-collapse", :id => "navbarText"}
      %ul{:class => "navbar-nav mr-auto"}
        %li{:class => "nav-item"}
          = link_to 'Links', links_path, :class => 'nav-link'
        %li{:class => "nav-item"}
          = link_to 'Contact', '#', :class => 'nav-link'
        %li{:class => "nav-item"}
          = link_to 'About', '#', :class => 'nav-link'
        %li{:class => "nav-item"}
          = link_to 'Message', '#', :class => 'nav-link'
          
      %ul{:class => "navbar-nav d-flex justify-content-end"}
      
        - if user_signed_in?
          %li{:class => "nav-item"}
            = link_to('Login', new_user_session_path, :class => 'nav-link')
          %li{:class => "nav-item"}
            = link_to('Register', new_user_registration_path, :class => 'nav-link')
        
        - else
          %li{:class => "nav-item"}
            =link_to('Logout', destroy_user_session_path, :method => :delete, :class => 'nav-link')
          %li{:class => "nav-item"}
            = link_to('Edit registration', edit_user_registration_path, :class => 'nav-link')