<p>
  <%= link.title %><br>
  <%= link.url %><br>
  <%= link_to 'Show', link %> |
  <%= link_to 'Edit', edit_link_path(link) %> |
  <%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %> 
</p>