<p id="notice"><%= notice %></p>

<h1 class="display-3" >Links</h1>
  <%= @links.offset_value + 1 %> - <%= @links.offset_value + @links.length %> of <%= @links.total_count %>
<div id="paginator">
  <%= paginate @links, :remote => true %>
</div>

<div id="links">
  <%= render @links %>
</div>

<%= link_to 'New Link', new_link_path %>
