<div class="card">
  <div class="card-block">
    <h4 class="card-title">
      <a href="<%= @link.url %>">
        <%= @link.title%>
      </a>
    </h4>
    <h6 class="card-subtitle mb-2 text-muted">Submited <%= time_ago(@link.created_at)%> by <%= @link.user.email%></h6>
    <a href="<%= @link.url %>">Visit link</a>
  </div>
</div>
<hr>
<%-if user_signed_in?%>
  <%= render 'comments/new' %>
<%-end%>

<%= render 'comments/show', comments: @comments %>