<p>
  <strong>Title:</strong>
  <%= @link.title %><br>
  <strong>Url:</strong>
  <%= @link.url %><br>
  <strong>User:</strong>
  <%= @link.user.email %><br>
</p>
<%-if user_signed_in?%>
  <%= render 'comments/new' %>
<%-end%>

<%= render 'comments/show', comments: @comments %>

<br>
<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>