<%= render 'layouts/error', obj: @post%>
<%= render(:partial => 'posts/form/location', :handlers => [:erb], :formats => [:js], session: session)%>

<% if @post.post_type == "Link" || @post.post_type == "Image" || @post.post_type == "Text" %>
  <%= form_for @post, :html => { :multipart => true} do |f| %>
    <div class="form-group row">
      <%= f.label :title, :class => "col-2 col-form-label"%>
      <div class="col-10">
        <%= f.text_field :title, :class =>"form-control"%>
      </div>
    </div>
    
    <%= render "posts/form/f#{@post.post_type.downcase}", f: f%>
    
    <div class="form-group row">
      <div class="col-12">
        <%= f.button :submit, class: "btn btn-primary float-right" do %>
          POST IT
        <% end %>
      </div>
    </div>
    
    <%= f.hidden_field :post_type, value: @post.post_type %>
  
  <% end%>
<% else %>
  <%= redirect_to root_path %>
<% end %>